.timeline {
  margin-top: 2em;
}

.review {
  width: 90%;
  margin: 2em auto;
}

.review h2 {
  padding: 1em 0;
}

.review.treated table {
  width: 80%;
  margin: 1em auto;
}


.review.control table {
  width: 50%;
  margin: 1em auto;
}
