.nextgame h1{
  font-size: 2em;
  margin: 1em auto;
}

.nextgame h2{
  font-size: 1.5em;
  margin: .5em auto;
}

.waiting h1 {
  margin: 1em auto;
  font-size: 2em;
}

.waiting p {
  text-align: left;
  width: 50%;
  margin: 1em auto;
}

.nextgame h2 {
  margin: 1.5em;
}

.nextgame .rewards {
  width: 50%;
  margin: auto auto;
  text-align: left;
}

.nextgame .rewards p {
  margin: 1em auto;
}


.nextgame .rewards em {
  font-weight: 900;
}
